<configuration debug="true">
    <conversionRule conversionWord="customHighlight" converterClass="com.ucsp.app.config.HighlightConfiguration" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <withJansi>true</withJansi> -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%magenta([%thread]) %customHighlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>